<?php

?>
<div class="ui grid padded left aligned stackable">
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">
            <h3 class="ui top attached header inverted ">
                Create a series
            </h3>
            <div class="ui attached segment inverted">

                <?php
                echo $this->flashSession->output();
                echo $this->flash->output();
                ?>
                <form class="ui inverted form <?php echo $formClass ?>" method="post" enctype="multipart/form-data">
                    <?php
                    echo $form->render('id');
                    ?>
                    <div class="ui grid two column">
                        <div class="row">
                            <div class="sixteen wide column">
                                <div class="field <?php
                                echo (array_key_exists(\App\Forms\TeamsForm::NAME, $errorField)) ? $errorField[\App\Forms\TeamsForm::NAME] : '';
                                echo ($form->isFieldRequired(\App\Forms\TeamsForm::NAME))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(\App\Forms\TeamsForm::NAME);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(\App\Forms\TeamsForm::NAME);
                                    echo $form->messages(\App\Forms\TeamsForm::NAME);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(\App\Forms\TeamsForm::WEBSITE, $errorField)) ? $errorField[\App\Forms\TeamsForm::WEBSITE] : '';
                                echo ($form->isFieldRequired(\App\Forms\TeamsForm::WEBSITE))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(\App\Forms\TeamsForm::WEBSITE);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(\App\Forms\TeamsForm::WEBSITE);
                                    echo $form->messages(\App\Forms\TeamsForm::WEBSITE);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(\App\Forms\TeamsForm::DISCORD, $errorField)) ? $errorField[\App\Forms\TeamsForm::DISCORD] : '' ;
                                echo ($form->isFieldRequired(\App\Forms\TeamsForm::DISCORD))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(\App\Forms\TeamsForm::DISCORD);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(\App\Forms\TeamsForm::DISCORD);
                                    echo $form->messages(\App\Forms\TeamsForm::DISCORD);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(\App\Forms\TeamsForm::IRC, $errorField)) ? $errorField[\App\Forms\TeamsForm::IRC] : '';
                                echo ($form->isFieldRequired(\App\Forms\TeamsForm::IRC))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(\App\Forms\TeamsForm::IRC);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(\App\Forms\TeamsForm::IRC);
                                    echo $form->messages(\App\Forms\TeamsForm::IRC);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(\App\Forms\TeamsForm::TWITTER, $errorField)) ? $errorField[\App\Forms\TeamsForm::TWITTER] : '';
                                echo ($form->isFieldRequired(\App\Forms\TeamsForm::TWITTER))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(\App\Forms\TeamsForm::TWITTER);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(\App\Forms\TeamsForm::TWITTER);
                                    echo $form->messages(\App\Forms\TeamsForm::TWITTER);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(\App\Forms\TeamsForm::FACEBOOK, $errorField)) ? $errorField[\App\Forms\TeamsForm::FACEBOOK] : '';
                                echo ($form->isFieldRequired(\App\Forms\TeamsForm::FACEBOOK))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(\App\Forms\TeamsForm::FACEBOOK);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(\App\Forms\TeamsForm::FACEBOOK);
                                    echo $form->messages(\App\Forms\TeamsForm::FACEBOOK);
                                    ?>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="four wide column">
                                <?php
                                echo $form->render('Save');
                                ?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <?php
    if( $series instanceof \App\Models\Series) {
        ?>
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
            <div class="row">

                <h3 class="ui top attached header inverted ">
                    Chapter List
                    <?php
                    echo ' '.$this->tag->linkTo([
                            'admin/series/add-chapter/' . $series->getSlug(),
                            'Add chapter',
                            'class' => 'ui primary button mini'
                        ]);
                    ?>
                </h3>

                <div class="ui attached segment inverted">
                    <div class="ui list inverted">
                        <?php
                        foreach ($chapters as $chapter) {
                            ?>
                            <div class="item">
                                <div class="content">
                                    <?php

                                    if($series->getCustomTitle()) {
                                        $chapterName = $serie->getCustomTitle();
                                    } else {
                                        $chapterName = 'Chapter';
                                    }
                                    $chapterName .= ' '.$chapter->getNumber();
                                    if($chapter->getSubNumber()) {
                                        $chapterName .= '.'.$chapter->getSubNumber();
                                    }

                                    echo $this->tag->linkTo([
                                        'admin/series/edit-chapter/' . $series->getSlug().'/'.$chapter->getId(),
                                        $chapterName,
                                        'class' => ''
                                    ]);
                                    ?>
                                </div>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <?php
    }
    ?>
</div>
