<div class="ui grid padded left aligned stackable">
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">
            <h3 class="ui top attached header inverted ">
                Teams list <?php
                echo $this->tag->linkTo([
                    'admin/teams/add',
                    'Add a team',
                    'class' => 'ui button primary mini right floated'
                ]);
                ?>
            </h3>
            <div class="ui attached segment inverted">

                <div class="ui list inverted">
                    <?php
                    foreach ($teams as $team) {
                        /**
                         * @var $team \App\Models\Teams
                         */
                        ?>
                        <div class="item">
                            <div class="content">
                                <?php
                                echo $this->tag->linkTo([
                                    'admin/teams/edit/'.$team->getId(),
                                    $team->getName(),
                                    'class' => 'header'
                                ]);
                                ?>
                                <div class="description">Some description here later</div>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                </div>

            </div>
        </div>
    </div>
</div>