/**
 * My css
 */
body {
    /*
    height: 100vh !important;
    margin: 0 auto;
    overflow-y: scroll !important;
    */
    background-size: cover !important;

    color: #f0f0f0;
    margin: 0 auto;
    overflow-y: scroll !important;
    background: #fff;
}

.middle
{
    min-height: 100vh;
}

.vert-align.middle
{
    vertical-align: middle;
}

.hide
{
    display: none!important;
}

.text-danger {
    color: #db2828;
}
.white-text {
    color: white;
}
a.white-text:hover{
    color: white;
    text-decoration: underline;
}
.flex {
    display: flex;
}
.flex.middle-content {
    align-items: center
}
.flex [class*="right floated"] {
    margin-left: auto;
}

#flipbook img{
    width: auto!important;
}
#flipbook.classic-reader img{
    cursor: pointer;
}
#reader_options {
    margin-left: 10px;
}
/**
 * public pages
 */
.public-bg
{
    min-height: 100vh;
}
.public-page
{
    margin-top:20px;
}
#latest_chapters_list .download.icon
{
    font-size: 1.5em;
}
#latest_chapters_list .event-header
{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: solid 2px white;
    margin-bottom: 10px;
}
#public_page_header
{
    border-radius: 0;
}
#public_page .footer
{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;

}
#public_page .footer .footer-text
{
    color: #212121;
}


/**
 * Session Pages
 */
.session-layout
{
    min-height: 100vh;

    /* Default bg style */
    background-image: url("../img/bg/shattered.png");
    background-color: #333535;
}

/**
 * Private part
 */
.private-bg
{

    min-height: 100vh;

    /* Default bg style */
    background-image: url("../img/bg/shattered.png");
    background-color: #333535;
}
.private-content
{
    margin: auto 20px;
}
.fileinput-button
{
    overflow: inherit!important;
}
.fileinput-button input
{
    display: none;
}

#total-progress
{
    margin-top: 15px;
    margin-bottom: 35px;
}

/* flipbook Reader overwrite */


.wowbook-left img.wowbook-lazy {
    right: 0!important;
    left: unset!important;
}
.wowbook-left .wowbook-double-page img.wowbook-lazy {
    left: 0!important;
}
@media only screen and (max-device-width : 480px) {
    #reader_content {
        justify-content: unset !important;
    }
}
/* Mimic table appearance for dropzone */

.dropzone
{
    border: none!important;;
    background: transparent!important;
    padding: 0!important;;
}
.dropzone #actions
{
    margin-bottom: 20px;
}
.dropzone div.table
{
    display: table;
    width: 100%;
}
.dropzone div.table .file-row
{
    display: table-row;
}
.dropzone div.table .file-row > div
{
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    padding: 8px;
}
.dropzone div.table .file-row:nth-child(odd)
{
    background: #2d2d2d;
}
.dropzone .preview img {
    max-width: 150px;
    max-height: 80px;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.dropzone .preview.zoom-image
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.dropzone .preview.zoom-image img {
    max-width: 100%!important;
    max-height:100vh!important;position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
}
.dropzone .file-upload-progress {
    min-width: 170px;
}

/**
 * semantic overwrite
 */
.ui.card.inverted
{
    background: #2f2f30;
    border: #000000;
    box-shadow: 0 1px 3px 0 #181819, 0 0 0 1px #181819 ;
}
.ui.card.inverted .header
{
    color: white;
    background: #000;
}
.ui.card.inverted .ui.feed .event .content .summary
{
    color: white;
}
.ui.card.inverted .ui.feed .event .content .summary .date
{
    color: rgba(255, 255, 255, 0.6);
}
.ui.card.inverted .ui.feed .event .content a
{
    color: white;
}
.ui.card.inverted .ui.feed .event .content a:hover
{
    text-decoration: underline;
}
.ui.inverted.menu .ui.dropdown>.menu,
.ui.inverted.menu .ui.dropdown>.menu>.item
{
    background: #1b1c1d;
    color: rgba(255,255,255,.9)!important;
}

/*
.ui.header.divider
{
    color: #919191;
}*/
.ui.top.attached.header .right.floated.header
{
}
[class*="left floated"] {
    float: left;
    margin-left: 0.25em;
}
[class*="right floated"] {
    float: right;
    margin-right: 0.25em;
}
.ui.dropdown.inverted{
    background: #000;
    color: #fff;
}
.ui.dropdown.inverted .menu{
    color: #fff2f2;
}
.ui.dropdown.inverted .menu .item {
    color: #fff;
    background: #000;
}
.ui.selection.visible.dropdown.inverted>.text:not(.default) {
    color: #fff!important;
}
/**
 * dropdown size
 */
.ui.dropdown.tiny {
    min-width: auto;
}