

<tbody>
<tr>
    <td style="padding:40px 0  0 0;">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">You're Almost There! Just Confirm Your Email</h2>

        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
            You've successfully created your account. To activate it, please click below to verify your email address.
        </p>
        <br>
        <br>
        <a style="background:#198f35;color:#fff;padding:10px;border-radius: 5px; width: 150px;" href="<?php echo $publicUrl ?><?php echo $confirmUrl ?>">Confirm</a>
        <br>
        <br>
        or copy / paste the following link : <?php echo $publicUrl ?><?php echo $confirmUrl ?>

        </p>
    </td>
</tr>
</tbody>

