<?php
use \App\Forms\RegisterForm;
?>

<div class="ui two column centered grid padded middle aligned stackable">
    <div class="column">

        <h3 class="ui top attached header inverted">
            Login
        </h3>
        <div class="ui attached segment inverted">

            <?php
            echo $this->flashSession->output();
            echo $this->flash->output();
            ?>

            <form class="ui inverted form <?php echo $formClass ?>" method="post">
                <div class="two fields">
                    <div class="field <?php echo (array_key_exists(RegisterForm::USERNAME, $errorField))?$errorField[RegisterForm::USERNAME]:'' ?>">
                        <label>
                            <?php
                            echo $loginForm->label(RegisterForm::USERNAME);
                            ?>
                        </label>
                        <?php
                        echo $loginForm->render(RegisterForm::USERNAME);
                        echo $loginForm->messages(RegisterForm::USERNAME);
                        ?>

                    </div>
                    <div class="field <?php echo (array_key_exists(RegisterForm::PASSWORD, $errorField))?$errorField[RegisterForm::PASSWORD]:'' ?>">
                        <label>
                            <?php
                            echo $loginForm->label(RegisterForm::PASSWORD);
                            ?>
                        </label>
                        <?php
                        echo $loginForm->render(RegisterForm::PASSWORD);
                        echo $loginForm->messages(RegisterForm::PASSWORD);
                        ?>

                    </div>
                </div>
                <div class="ui divider"></div>


                <div class="field">
                    <div class="ui checkbox">
                        <?php echo $loginForm->render('remember'); ?>
                        <?php echo $loginForm->label('remember'); ?>
                    </div>
                    <?php echo $loginForm->messages('remember'); ?>
                </div>

                <?php
                echo $loginForm->render('csrf');
                echo $loginForm->messages('csrf');

                echo $loginForm->render('Log In');
                ?>
            </form>


        </div>

    </div>
</div>