<?php
use \App\Forms\RegisterForm;
?>

<div class="ui two column centered grid padded middle aligned stackable">
    <div class="column">

        <h3 class="ui top attached header inverted">
            Register
        </h3>
        <div class="ui attached segment inverted">

            <?php
                echo $this->flashSession->output();
            echo $this->flash->output();
            ?>

            <form class="ui inverted form <?php echo $formClass ?>" method="post">
                <div class="two fields">
                    <div class="field <?php echo (array_key_exists(RegisterForm::USERNAME, $errorField))?$errorField[RegisterForm::USERNAME]:'' ?>">
                        <label>
                            <?php
                                echo $registerForm->label(RegisterForm::USERNAME);
                            ?>
                        </label>
                        <?php
                            echo $registerForm->render(RegisterForm::USERNAME);

                            echo $registerForm->messages(RegisterForm::USERNAME);
                        ?>

                    </div>
                    <div class="field <?php echo (array_key_exists(RegisterForm::EMAIL, $errorField))?$errorField[RegisterForm::EMAIL]:'' ?>">
                        <label>
                            <?php
                            echo $registerForm->label(RegisterForm::EMAIL);
                            ?>
                        </label>
                        <?php
                        echo $registerForm->render(RegisterForm::EMAIL);
                        echo $registerForm->messages(RegisterForm::EMAIL);
                        ?>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field <?php echo (array_key_exists(RegisterForm::PASSWORD, $errorField))?$errorField[RegisterForm::PASSWORD]:'' ?>">
                        <label>
                            <?php
                            echo $registerForm->label(RegisterForm::PASSWORD);
                            ?>
                        </label>
                        <?php
                        echo $registerForm->render(RegisterForm::PASSWORD);
                        echo $registerForm->messages(RegisterForm::PASSWORD);
                        ?>

                    </div>
                    <div class="field <?php echo (array_key_exists(RegisterForm::CONFIRM_PASSWORD, $errorField))?$errorField[RegisterForm::CONFIRM_PASSWORD]:'' ?>">
                        <label>
                            <?php
                            echo $registerForm->label(RegisterForm::CONFIRM_PASSWORD);
                            ?>
                        </label>
                        <?php
                        echo $registerForm->render(RegisterForm::CONFIRM_PASSWORD);
                        echo $registerForm->messages(RegisterForm::CONFIRM_PASSWORD);
                        ?>
                    </div>
                </div>

                <h4 class="ui horizontal divider header">
                    Additionnal information
                </h4>

                <div class="two fields">
                    <div class="field <?php echo (array_key_exists(RegisterForm::FIRST_NAME, $errorField))?$errorField[RegisterForm::FIRST_NAME]:'' ?>">
                        <label>
                            <?php
                            echo $registerForm->label(RegisterForm::FIRST_NAME);
                            ?>
                        </label>
                        <?php
                        echo $registerForm->render(RegisterForm::FIRST_NAME);
                        echo $registerForm->messages(RegisterForm::FIRST_NAME);
                        ?>

                    </div>
                    <div class="field <?php echo (array_key_exists(RegisterForm::LAST_NAME, $errorField))?$errorField[RegisterForm::LAST_NAME]:'' ?>">
                        <label>
                            <?php
                            echo $registerForm->label(RegisterForm::LAST_NAME);
                            ?>
                        </label>
                        <?php
                        echo $registerForm->render(RegisterForm::LAST_NAME);
                        echo $registerForm->messages(RegisterForm::LAST_NAME);
                        ?>
                    </div>
                </div>
                <div class="ui divider"></div>
                <?php

                echo $registerForm->render('csrf');
                echo $registerForm->messages('csrf');

                echo $registerForm->render('Register');
                ?>
            </form>


        </div>

    </div>
</div>