<div class="ui container ">

    <div class="flash">
        <?php
        echo $this->flashSession->output();
        echo $this->flash->output();
        ?>
    </div>


    <div class="ui card fluid inverted stackable" id="latest_chapters_list">
        <div class="content header">
            <div class="header">Last Chapters</div>
        </div>
        <div class="content">
            <div class="ui small feed">

                <!-- Foreach chapters -->
                <?php
                foreach ($page->items as $item) {
                    /**
                     * @var $item \App\Models\Chapter
                     */

                    $currentSeries = $item->getSeries();
                    /**
                     * @var $currentSeries \App\Models\Series
                     */
                    $currentSeriesName = $currentSeries->getName();

                    ?>

                    <?php
                    if(is_null($previousSeriesName) || $previousSeriesName != $currentSeriesName)
                    {
                        ?>
                        <div class="event event-header">
                            <?php
                            echo $this->tag->linkTo([
                                'series/'.$currentSeries->getSlug(),
                                $currentSeries->getName(),
                                'class' => 'white-text'
                            ]);
                            ?>
                        </div>
                        <?php
                    }
                    ?>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a href="<?php

                                $url = 'reader/'.$currentSeries->getSlug().'/'.$item->getNumber();
                                if($item->getSubNumber()) {
                                    $url .= '/'.$item->getSubNumber();
                                }
                                echo $this->url->get($url);
                                ?>">
                                    <?php

                                    if($currentSeries->getCustomTitle()) {
                                        echo $currentSeries->getCustomTitle();
                                    } else {
                                        echo 'Ch.';
                                    }

                                    echo ' '.$item->getNumber();


                                    if($item->getSubNumber()) {
                                        echo'.'.$item->getSubNumber();
                                    }
                                    echo ': ';

                                    if($item->getName()) {
                                        echo ' '.$item->getName();
                                    }

                                    ?>
                                </a>
                                <div class="date">
                                    by
                                    <?php

                                    foreach ($item->getTeams() as $team) {
                                        echo $this->tag->linkTo([
                                            'teams/'.$team->getId(),
                                            $team->getName(),
                                            'class' => ''
                                        ]);
                                        echo ' | ';
                                    }
                                    ?>


                                    <?php
                                    $datetime1 = $item->getCreatedAt();
                                    $datetime2 = new DateTime('now');
                                    $interval = $datetime1->diff($datetime2);
                                    $days = $interval->format('%a');

                                    if ($days > 2) {
                                        echo $datetime1->format("d/m/Y");
                                    } elseif ($days > 1) {
                                        echo 'yesterday';
                                    } else {
                                        echo \App\lib\StaticFunctions::time_elapsed_string($datetime1);
                                    }
                                    ?>
                                </div>

                                <!-- if download activate -->
                                <div class="right floated">
                                    <a href="" class="ui" data-tooltip="Download Chapter" data-inverted="" data-position="left center">
                                        <i class="download icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php

                    $previousSeriesName = $currentSeriesName;
                }
                ?>
            </div>
        </div>
    </div>
</div>