<div class="ui grid padded left aligned stackable">
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">
            <h3 class="ui top attached header inverted ">
                Users list
            </h3>
            <div class="ui attached segment inverted">

                <div class="ui list inverted">
                    <?php
                    foreach ($users as $user) {
                        /**
                         * @var $user \App\Models\Users
                         */
                    ?>
                    <div class="item">
                        <div class="content">
                            <!-- TODO add link to modify profile screen -->
                            <?php
                            echo $this->tag->linkTo([
                                'admin/users/details/'.$user->getId(),
                                $user->getFirstname() . ' ' . $user->getLastname() . ' (' . $user->getName() . ')',
                                'class' => 'header'
                            ]);
                            ?>
                            <div class="description">Some description here later</div>
                        </div>
                    </div>
                    <?php
                    }
                    ?>
                </div>

            </div>
        </div>
    </div>
</div>