
    <?php
    if($logged_in) {

        echo $this->tag->linkTo([
            'admin/logged-in/rebuild-acl',
            'Rebuild ACL',
            'class' => ''
        ]);

        ?>
        <div class="ui dropdown item">
            <?php
            echo $identity['name']
            ?> <!-- Replace by name in auth->name -->
            <i class="dropdown icon"></i>
            <div class="menu">

                <div class="item">
                    <i class="spy icon"></i>
                    <?php
                    echo $this->tag->linkTo([
                        'admin/profile/',
                        'My profile',
                        'class' => ''
                    ]);
                    ?>
                </div>
                <div class="item">
                    <i class="sign out icon"></i>
                    <?php
                    echo $this->tag->linkTo([
                        'logout',
                        'Log Out',
                        'class' => ''
                    ]);
                    ?>
                </div>


            </div>
        </div>
        <?php
    } else {
        ?>
        <div class="item">
            <div class="ui large buttons">
                <?php
                echo $this->tag->linkTo([
                    'login',
                    'Login',
                    'class' => 'ui primary button'
                ]);
                ?>
                <div class="or"></div>
                <?php
                echo $this->tag->linkTo([
                    'register',
                    'Register',
                    'class' => 'ui primary button'
                ]);
                ?>
            </div>
        </div>
        <?php
    }
    ?>
