<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Phalcon PHP Framework</title>
        <!-- Output the header assets css-->
        <?php $this->assets->outputCss('header'); ?>
        <!-- Output the header assets js-->
        <?php $this->assets->outputJs('header'); ?>


    </head>
    <body style="background: url('<?php
    //TODO add BG changes
        echo  $config->application->publicUrl . '/img/bg/public_bg_default.jpg';
    ?>') no-repeat center center fixed;">

        <?php echo $this->getContent(); ?>

        <!-- Output the footer assets js-->
        <?php $this->assets->outputJs('footer'); ?>
    </body>
</html>
