<?php

use \App\Forms\AddChapterForm;

?>
<div class="ui grid padded left aligned stackable">
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">

            <h3 class="ui top attached header inverted ">
                Add chapter to <?php
                    echo $series->getName();
                ?>
            </h3>

            <div class="ui attached segment inverted">
                <?php
                echo $this->flashSession->output();
                echo $this->flash->output();
                ?>
                <form class="ui inverted form <?php echo $formClass ?>" method="post" enctype="multipart/form-data">
                    <?php
                    echo $form->render('id');
                    ?>
                    <div class="ui grid two column">
                        <div class="row">
                            <div class="sixteen wide column">
                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::NAME, $errorField)) ? $errorField[AddChapterForm::NAME] : '';
                                echo ($form->isFieldRequired(AddChapterForm::NAME))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::NAME);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::NAME);
                                    echo $form->messages(AddChapterForm::NAME);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::NUMBER, $errorField)) ? $errorField[AddChapterForm::NUMBER] : '';
                                echo ($form->isFieldRequired(AddChapterForm::NUMBER))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::NUMBER);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::NUMBER);
                                    echo $form->messages(AddChapterForm::NUMBER);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::SUBNUMBER, $errorField)) ? $errorField[AddChapterForm::SUBNUMBER] : '' ;
                                echo ($form->isFieldRequired(AddChapterForm::SUBNUMBER))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::SUBNUMBER);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::SUBNUMBER);
                                    echo $form->messages(AddChapterForm::SUBNUMBER);
                                    ?>
                                </div>

                                <div class="field <?php echo (array_key_exists(AddChapterForm::VISIBILITY, $errorField)) ? $errorField[AddChapterForm::VISIBILITY] : '' ?>">
                                    <div class="ui checkbox">
                                        <input type="hidden" name="<?php echo AddChapterForm::VISIBILITY ?>" value="0">
                                        <?php
                                        echo $form->render(AddChapterForm::VISIBILITY);
                                        echo $form->label(AddChapterForm::VISIBILITY);
                                        ?>
                                    </div>
                                    <?php
                                    echo $form->messages(AddChapterForm::VISIBILITY);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::TEAMS, $errorField)) ? $errorField[AddChapterForm::TEAMS] : '';
                                echo ($form->isFieldRequired(AddChapterForm::TEAMS))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::TEAMS);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::TEAMS);
                                    echo $form->messages(AddChapterForm::TEAMS);
                                    ?>
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="four wide column">
                                <?php
                                echo $form->render('Save');
                                ?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('[name="teams"]').attr('name', "teams[]");
    });
</script>