<?php

use \App\Forms\SeriesForm;

?>
<div class="ui grid padded left aligned stackable">
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">
            <h3 class="ui top attached header inverted ">
                <?php
                if( $series instanceof \App\Models\Series) {
                    ?>
                    Edit series
                    <?php
                } else {
                    ?>
                    Create a series
                    <?php
                }
                ?>
            </h3>
            <div class="ui attached segment inverted">

                <?php
                echo $this->flashSession->output();
                echo $this->flash->output();
                ?>
                <form class="ui inverted form <?php echo $formClass ?>" method="post" enctype="multipart/form-data">
                    <?php
                    echo $form->render('id');
                    ?>
                    <div class="ui grid two column">
                        <div class="row">
                            <div class="sixteen wide column">
                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::NAME, $errorField)) ? $errorField[SeriesForm::NAME] : '';
                                echo ($form->isFieldRequired(SeriesForm::NAME))?'required':'';
                                 ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::NAME);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::NAME);
                                    echo $form->messages(SeriesForm::NAME);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::ADDITIONAL_NAMES, $errorField)) ? $errorField[SeriesForm::ADDITIONAL_NAMES] : '';
                                echo ($form->isFieldRequired(SeriesForm::ADDITIONAL_NAMES))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::ADDITIONAL_NAMES);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::ADDITIONAL_NAMES);
                                    echo $form->messages(SeriesForm::ADDITIONAL_NAMES);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::SLUG, $errorField)) ? $errorField[SeriesForm::SLUG] : '' ;
                                echo ($form->isFieldRequired(SeriesForm::SLUG))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::SLUG);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::SLUG);
                                    echo $form->messages(SeriesForm::SLUG);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::IMAGE, $errorField)) ? $errorField[SeriesForm::IMAGE] : '';
                                echo ($form->isFieldRequired(SeriesForm::IMAGE))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::IMAGE);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::IMAGE);
                                    echo $form->messages(SeriesForm::IMAGE);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::AUTHOR, $errorField)) ? $errorField[SeriesForm::AUTHOR] : '';
                                echo ($form->isFieldRequired(SeriesForm::AUTHOR))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::AUTHOR);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::AUTHOR);
                                    echo $form->messages(SeriesForm::AUTHOR);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::ARTIST, $errorField)) ? $errorField[SeriesForm::ARTIST] : '';
                                echo ($form->isFieldRequired(SeriesForm::ARTIST))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::ARTIST);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::ARTIST);
                                    echo $form->messages(SeriesForm::ARTIST);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::DESCRIPTION, $errorField)) ? $errorField[SeriesForm::DESCRIPTION] : '' ;
                                echo ($form->isFieldRequired(SeriesForm::DESCRIPTION))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::DESCRIPTION);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::DESCRIPTION);
                                    echo $form->messages(SeriesForm::DESCRIPTION);
                                    ?>
                                </div>

                                <div class="field <?php echo (array_key_exists(SeriesForm::ADULT_WARNING, $errorField)) ? $errorField[SeriesForm::ADULT_WARNING] : '' ?>">
                                    <div class="ui checkbox">
                                        <?php
                                        echo $form->render(SeriesForm::ADULT_WARNING);
                                        echo $form->label(SeriesForm::ADULT_WARNING);
                                        ?>
                                    </div>
                                    <?php
                                    echo $form->messages(SeriesForm::ADULT_WARNING);
                                    ?>
                                </div>

                                <div class="field <?php echo (array_key_exists(SeriesForm::READER_MODE, $errorField)) ? $errorField[SeriesForm::READER_MODE] : '' ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::READER_MODE);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::READER_MODE);
                                    echo $form->messages(SeriesForm::READER_MODE);
                                    ?>
                                </div>

                                <div class="field <?php echo (array_key_exists(SeriesForm::READ_DIRECTION, $errorField)) ? $errorField[SeriesForm::READ_DIRECTION] : '' ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::READ_DIRECTION);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::READ_DIRECTION);
                                    echo $form->messages(SeriesForm::READ_DIRECTION);
                                    ?>
                                </div>

                                <div class="field <?php echo (array_key_exists(SeriesForm::VISIBILITY, $errorField)) ? $errorField[SeriesForm::VISIBILITY] : '' ?>">
                                    <div class="ui checkbox">
                                        <?php
                                        echo $form->render(SeriesForm::VISIBILITY);
                                        echo $form->label(SeriesForm::VISIBILITY);
                                        ?>
                                    </div>
                                    <?php
                                    echo $form->messages(SeriesForm::VISIBILITY);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(SeriesForm::CUSTOM_TITLE, $errorField)) ? $errorField[SeriesForm::CUSTOM_TITLE] : '' ;
                                echo ($form->isFieldRequired(SeriesForm::CUSTOM_TITLE))?'required':'';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(SeriesForm::CUSTOM_TITLE);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(SeriesForm::CUSTOM_TITLE);
                                    echo $form->messages(SeriesForm::CUSTOM_TITLE);
                                    ?>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="four wide column">
                                <?php
                                echo $form->render('Save');
                                ?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <?php
    if( $series instanceof \App\Models\Series) {
        ?>
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
            <div class="row">

                <h3 class="ui top attached header inverted ">
                    Chapter List
                    <?php
                    echo ' '.$this->tag->linkTo([
                        'admin/series/add-chapter/' . $series->getSlug(),
                        'Add chapter',
                        'class' => 'ui primary button mini right floated'
                    ]);
                    ?>
                </h3>

                <div class="ui attached segment inverted">
                    <div class="ui list inverted">
                        <?php
                        foreach ($chapters as $chapter) {
                            ?>
                            <div class="item">
                                <div class="content">
                                    <?php

                                    if($series->getCustomTitle()) {
                                        $chapterName = $series->getCustomTitle();
                                    } else {
                                        $chapterName = 'Chapter';
                                    }
                                    $chapterName .= ' '.$chapter->getNumber();
                                    if($chapter->getSubNumber()) {
                                        $chapterName .= '.'.$chapter->getSubNumber();
                                    }

                                    echo $this->tag->linkTo([
                                        'admin/series/edit-chapter/' . $series->getSlug().'/'.$chapter->getId(),
                                        $chapterName,
                                        'class' => ''
                                    ]);
                                    ?>
                                </div>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <?php
    }
    ?>
</div>
