<?php

use \App\Forms\AddChapterForm;

?>
<div class="ui grid padded left aligned stackable">
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">

            <h3 class="ui top attached header inverted ">
                Edit chapter <?php
                echo $chapter->getNumber()
                ?> from <?php
                echo $series->getName();
                ?>
            </h3>

            <div class="ui attached segment inverted">
                <?php
                echo $this->flashSession->output();
                echo $this->flash->output();
                ?>
                <form class="ui inverted form <?php echo $formClass ?>" method="post" enctype="multipart/form-data">
                    <?php
                    echo $form->render('id');
                    echo $form->render('createdAt');
                    echo $form->render('deleted');
                    ?>
                    <div class="ui grid two column">
                        <div class="row">
                            <div class="sixteen wide column">
                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::NAME, $errorField)) ? $errorField[AddChapterForm::NAME] : '';
                                echo ($form->isFieldRequired(AddChapterForm::NAME)) ? 'required' : '';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::NAME);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::NAME);
                                    echo $form->messages(AddChapterForm::NAME);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::NUMBER, $errorField)) ? $errorField[AddChapterForm::NUMBER] : '';
                                echo ($form->isFieldRequired(AddChapterForm::NUMBER)) ? 'required' : '';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::NUMBER);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::NUMBER);
                                    echo $form->messages(AddChapterForm::NUMBER);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::SUBNUMBER, $errorField)) ? $errorField[AddChapterForm::SUBNUMBER] : '';
                                echo ($form->isFieldRequired(AddChapterForm::SUBNUMBER)) ? 'required' : '';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::SUBNUMBER);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::SUBNUMBER);
                                    echo $form->messages(AddChapterForm::SUBNUMBER);
                                    ?>
                                </div>

                                <div class="field <?php echo (array_key_exists(AddChapterForm::VISIBILITY, $errorField)) ? $errorField[AddChapterForm::VISIBILITY] : '' ?>">
                                    <div class="ui checkbox">
                                        <input type="hidden" name="<?php echo AddChapterForm::VISIBILITY ?>" value="0">
                                        <?php
                                        echo $form->render(AddChapterForm::VISIBILITY);
                                        echo $form->label(AddChapterForm::VISIBILITY);
                                        ?>
                                    </div>
                                    <?php
                                    echo $form->messages(AddChapterForm::VISIBILITY);
                                    ?>
                                </div>

                                <div class="field <?php
                                echo (array_key_exists(AddChapterForm::TEAMS, $errorField)) ? $errorField[AddChapterForm::TEAMS] : '';
                                echo ($form->isFieldRequired(AddChapterForm::TEAMS)) ? 'required' : '';
                                ?>">
                                    <label>
                                        <?php
                                        echo $form->label(AddChapterForm::TEAMS);
                                        ?>
                                    </label>
                                    <?php
                                    echo $form->render(AddChapterForm::TEAMS);
                                    echo $form->messages(AddChapterForm::TEAMS);
                                    ?>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="four wide column">
                                <?php
                                echo $form->render('Save');
                                ?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">
            <h3 class="ui top attached header inverted ">
                Upload Pages <span class="ui teal  label">(Only jpeg or png. You can drag and drop to choose the page order)</span>
            </h3>
            <div class="ui attached segment inverted">

                <div class="dropzone">
                    <div id="actions" class="ui row">

                        <div class="ui row">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="ui button primary fileinput-button">
                            <i class="ui icon plus"></i>
                            <span>Add files...</span>
                         </span>
                            <button type="submit" class="ui button green start" id="upload_all">
                                <i class="ui icon upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="ui button orange cancel" id="cancel_all">
                                <i class="ui icon close circle"></i>
                                <span>Cancel upload</span>
                            </button>
                        </div>

                        <div class="ui row">
                            <!-- The global file processing state -->
                            <span class="fileupload-process">
                                <div id="total-progress" class="ui progress active inverted hide">
                                    <div class="bar" data-dz-uploadprogress>
                                        <div class="progress"></div>
                                    </div>
                                    <div class="label">Uploading Files</div>
                                </div>
                            </span>
                        </div>
                    </div>

                    <!-- files -->
                    <div class="table table-striped files" id="previews">

                        <?php
                        /**
                         * @var $pages \Phalcon\Mvc\Model\Resultset
                         */
                        if($pages instanceof \Phalcon\Mvc\Model\Resultset)
                        {
                            foreach ($pages as $page) {

                                if(!$page instanceof \App\Models\Pages) {
                                    continue;
                                }
                            ?>
                            <div class="file-row uploaded" data-id="<?php echo $page->getId() ?>">
                                <!-- This is used as the file preview template -->
                                <div>
                                    <span class="preview"><img src="<?php echo $config->application->publicUrl . $page->getUrlPath() ?>"/></span>
                                </div>
                                <div>
                                    <p class="name" data-dz-name><?php echo $page->getFilename()  ?></p>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div>

                                </div>
                                <div>
                                    <p class="size" data-dz-size></p>
                                </div>
                                <div class="file-actions">
                                    <button data-dz-remove class="ui button red delete " data-delete-url="<?php echo $config->application->publicUrl ?>/admin/pages/delete/<?php echo $page->getId() ?>" data-delete-method="DELETE">
                                        <i class="ui icon delete"></i>
                                        <span>Delete</span>
                                    </button>
                                </div>
                            </div>
                            <?php
                            }
                        }
                        ?>
                        <div class="hide">
                            <div id="template" class="file-row">
                                <!-- This is used as the file preview template -->
                                <div>
                                    <span class="preview"><img data-dz-thumbnail/></span>
                                </div>
                                <div>
                                    <p class="name" data-dz-name></p>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div class="file-upload-progress">
                                    <div class="ui progress active inverted hide file-progress">
                                        <div class="bar" data-dz-uploadprogress>
                                            <div class="progress"></div>
                                        </div>
                                        <div class="label">Uploading File</div>
                                    </div>
                                </div>
                                <div>
                                    <p class="size" data-dz-size></p>
                                </div>
                                <div class="file-actions">
                                    <button class="ui button green start">
                                        <i class="ui icon upload"></i>
                                        <span>Start</span>
                                    </button>
                                    <button data-dz-remove class="ui button orange cancel">
                                        <i class="ui icon close circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add dropzone JS and some init for file upload -->
<script src="<?php echo $config->application->publicUrl ?>/bower_components/dropzone/dist/dropzone.js"></script>
<script src="<?php echo $config->application->publicUrl ?>/js/jquery-ui-1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="<?php echo $config->application->publicUrl ?>/bower_components/dropzone/dist/dropzone.css">
<script>
    Dropzone.autoDiscover = false;

    // Get the template HTML and remove it from the doument
    var previewNode = document.querySelector("#template");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);
    var chapterId = <?php echo $chapter->getId(); ?>;
    var seriesId = <?php echo $series->getId(); ?>;




    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "<?php echo $config->application->publicUrl ?>/admin/pages/upload-pages", // Set the url
        thumbnailWidth: 150,
        thumbnailHeight: 80,
        acceptedFiles: "image/jpeg,image/png",
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    });



    myDropzone.on("addedfile", function(file) {
        if(file.id) {
            $(file.previewTemplate).remove();
            file.previewTemplate = $("[data-id="+file.id+"]")[0];
            file.status = Dropzone.SUCCESS;
            myDropzone.files.push(file);
        } else {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
            var fileOrder = $("#previews").find('.file-row').length;
            $(file.previewElement).data("order", fileOrder);

            $(file.previewTemplate).find('.file-progress').progress({
                percent: 0,
                text: {
                    active: 'Uploading...',
                    success: "Upload Complete!",
                    error: "Failed!"
                }
            });
        }
    });

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function(progress, byteSent, totalByteSent) {
        //document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
        //$("#total-progress").progress('set percent', progress);
    });

    myDropzone.on("uploadprogress", function (file, progress, byteSent) {
        $(file.previewTemplate).find('.file-progress').removeClass('hide');

        $(file.previewTemplate).find('.file-progress').progress('set percent', progress);

    });

    myDropzone.on("sending", function(file, xhr, formData) {
        // Show the total progress bar when upload starts
        //$("#total-progress").removeClass('hide');
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");

        var order = $(file.previewElement).data('order');
        formData.append("order", order);
        formData.append("chapterId", chapterId);
        formData.append("seriesId", seriesId);
    });

    myDropzone.on("error",  function (file, response) {
        $(file.previewTemplate).find('.file-progress').progress('set error');
    });

    myDropzone.on("success", function (file, response) {
        $(file.previewTemplate).find('.file-progress').progress('set success');
        var data = JSON.parse(response);
        $(file.previewElement).addClass('uploaded');
        $(file.previewElement).find('.start').remove();
        $(file.previewElement).find('.cancel').remove();
        $deleteBtn = $('<button/>');
        $deleteBtn.attr('data-dz-remove', '');
        $deleteBtn.addClass('ui button red delete');
        $deleteBtn.attr('data-delete-url', data.delete_url);
        $deleteBtn.attr('data-delete-method', data.delete_method);
        $icon = $('<i/>');
        $icon.addClass('ui icon delete');
        $deleteBtn.append($icon);
        $span = $('<span/>');
        $span.text('<?php echo _("Delete") ?>');
        $deleteBtn.append($span);
        $(file.previewElement).find('.file-actions').append($deleteBtn);
        $(file.previewElement).attr('data-id', file.page_id);
    });

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function(progress) {
        //$("#total-progress").addClass('hide');
        //$("#previews").find('.start').removeAttr("disabled");
        //$("#total-progress").progress('set success');
    });

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function() {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
    };
    document.querySelector("#actions .cancel").onclick = function() {
        myDropzone.removeAllFiles(true);
        //$("#total-progress").addClass('hide');
    };


    $(function () {

        $('[name="teams"]').attr('name', "teams[]");

        $("#total-progress").progress({
            percent: 0,
            text: {
                active: 'Uploading...',
                success: "Upload Complete!",
                error: "Failed!"
            }
        });

        $("#previews").on('click', '[data-dz-remove]', function (ev) {
            ev.preventDefault();
            var deleteUrl = $(this).attr('data-delete-url');
            var deletMethod = $(this).attr('data-delete-method');

            var _this = this;

            $.ajax({
                url: deleteUrl,
                type: deletMethod,
                success: function(result) {
                    // Do something with the result
                    $(_this).closest('.file-row').fadeOut();
                }
            });
        });

        $("#previews").find('.uploaded').each(function () {
            // Create the mock file:
            var mockFile = {
                name: $(this).find('.name').text(),
                id: $(this).attr('data-id')
            };
            // Call the default addedfile event handler
            myDropzone.emit("addedfile", mockFile);

            // Make sure that there is no progress bar, etc...
            myDropzone.emit("complete", mockFile);
        });

        $("#previews").sortable({
            items: '.file-row',
            cursor: 'move',
            opacity: 0.5,
            containment: '#previews',
            distance: 20,
            tolerance: 'pointer',
            stop: function () {
                var queue = myDropzone.files;
                var newQueue = [];
                var fileOrder = 1;
                var dataOrderUpdate = [];
                $('#previews .file-row [data-dz-name]').each(function (count, el) {
                    var name = el.innerText;
                    queue.forEach(function(file) {
                        if (file.name === name) {
                            newQueue.push(file);
                            $(file.previewTemplate).data('order', fileOrder);
                            if($(file.previewTemplate).attr('data-id')) {
                                dataOrderUpdate.push({
                                    'id' : $(file.previewTemplate).attr('data-id'),
                                    'order' : fileOrder
                                });
                            }
                            fileOrder ++;
                        }
                    });
                });
                myDropzone.files = newQueue;
                var data = {
                    'data': dataOrderUpdate
                };
                //Ajax update pages order
                $.ajax({
                    url: '<?php echo $config->application->publicUrl ?>/admin/pages/update-pages-order',
                    type: 'PUT',
                    data: data ,
                    success: function(result) {
                        // Do something with the result
                    }
                });
            }
        });
        $("#previews").on('click', '.preview', function () {
            if($(this).hasClass('zoom-image')) {
                $(this).removeClass('zoom-image');
            } else {
                $(this).addClass('zoom-image');
            }

        });

    });


</script>