
<?php
echo $this->flashSession->output();
echo $this->flash->output();
?>
<div class="ui grid padded left aligned stackable">
    <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
        <div class="row">
            <h3 class="ui top attached header inverted">
                Manage Series
                <?php
                echo $this->tag->linkTo([
                    '/admin/series/add',
                    'Add a series',
                    'class' => 'ui mini primary button'
                ]);
                ?>
            </h3>
        </div>
        <div class="row">
            <div class="ui attached segment inverted">

                <div class="ui list inverted">

                    <?php
                    foreach ($series as $serie)
                    {

                        ?>

                        <div class="item">
                            <?php

                            if($serie->getImage())
                            {

                                ?>
                                <img class="ui image avatar" src="<?php echo $appConfig->publicUrl.$serie->getImage(); ?>">
                                <?php

                            }

                            ?>
                            <div class="content">
                                <?php

                                echo $this->tag->linkTo([
                                    'admin/series/edit/'.$serie->getSlug(),
                                    $serie->getName(),
                                    'class' => 'header'
                                ]);
                                ?>
                            </div>
                            <div class="right floated content">
                                <?php
                                echo $this->tag->linkTo([
                                    'admin/series/add-chapter/'.$serie->getSlug(),
                                    'Add Chapter',
                                    'class' => 'ui mini primary button vert-align middle'
                                ]);
                                ?>

                                <?php
                                echo $this->tag->linkTo([
                                    'admin/series/delete-series/'.$serie->getSlug(),
                                    '<div class="hidden content">Delete</div>
                                    <div class="visible content">
                                        <i class="close icon"></i>
                                      </div>',
                                    'class' => 'ui vertical animated mini red button delete'
                                ]);
                                ?>
                            </div>
                        </div>

                        <?php
                    }
                    ?>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="ui basic tiny modal">
    <div class="ui icon header">
        <i class="delete icon"></i>
        <?php
        echo _('Delete selected series ?');
        ?>
    </div>
    <div class="content">
        <p class="ui center aligned grid"><?php
            echo _('The series and its related chapter will be permanently deleted.')
            ?>
        </p>
    </div>
    <div class="actions ui center aligned grid">
        <div class="ui red  cancel inverted button" id="cancel_deletion">
            <i class="remove icon"></i>
            <?php
            echo _('Cancel')
            ?>
        </div>
        <div class="ui green ok inverted button" id="confirm_deletion">
            <i class="checkmark icon"></i>
            <?php
            echo _('Remove')
            ?>
        </div>
    </div>
</div>


<script>
    $(function () {
        var deleteLink = false;
        $('.delete').on('click', function(evt){
            evt.preventDefault();
            deleteLink = $(this).attr('href');
            $('.ui.modal').modal('show');
        });

        $('#confirm_deletion').on('click', function () {
            location.href = deleteLink;
        });
    });
</script>