<!-- Layout for public pages -->

<!-- Add a style tag to dynammically change the bg image -->
<div class="private-bg" id="private_page">
    <div class="ui inverted menu borderless attached stackable" id="private_page_header">

        <div class="item header-logo ">
            <a href="">
                <img src="" alt="reader-logo">
            </a>
        </div>

        <div class="left menu">

            <div class="ui dropdown orange item">
                <i class="list layout icon"></i>
                Series/Chapters
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">
                        <i class="list layout icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/series/',
                            'Manage series',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                    <div class="item">
                        <i class="edit icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/series/add',
                            'Add new series',
                            'class' => ''
                        ]);
                        ?>
                    </div>

                </div>
            </div>

            <div class="ui yellow dropdown item">
                <i class="users icon"></i>
                Users/Teams
                <i class="dropdown icon"></i>
                <div class="menu">

                    <div class="item">
                        <i class="user circle outline icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/users/',
                            'Manage users',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                    <div class="item">
                        <i class="users icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/teams/',
                            'List teams',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                    <div class="item">
                        <i class="building outline icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/teams/add',
                            'Add new team',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                </div>
            </div>


            <div class="ui green dropdown item">
                <i class="settings icon"></i>
                Settings
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">
                        <i class="setting icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/settings/',
                            'General settings',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                    <div class="item">
                        <i class="book icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/settings/reader',
                            'Reader settings',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                    <div class="item">
                        <i class="unhide icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/settings/theme',
                            'Theme',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                    <div class="item">
                        <i class="sign in icon"></i>
                        <?php
                        echo $this->tag->linkTo([
                            'admin/settings/registration',
                            'Registration',
                            'class' => ''
                        ]);
                        ?>
                    </div>
                </div>
            </div>



        </div>


        <div class="right menu sixteen wide tablet">

            <a class="green item" href="<?php echo $this->url->get(''); ?>">
                <i class="book icon"></i>
                Back to Reader
            </a>
            <?php
            echo $this->partial('shared/header_session', ['logged_in' => $logged_in]);
            ?>
        </div>
    </div>

    <div class="private-content ui fluid container">
        <?php echo $this->getContent(); ?>
    </div>

</div>
