<!-- Layout for public pages -->

<!-- Add a style tag to dynammically change the bg image -->
<div class="public-bg" id="public_page">
    <div class="ui inverted large menu borderless attached stackable" id="public_page_header">

        <div class="item header-logo ">
            <a href="<?php echo $config->application->publicUrl ?>">
                <?php
                //TODO faire un logo par défaut, et ajouter possibilité de change rle logo
                ?>
                <img src="" alt="reader-logo">
            </a>
        </div>

        <div class="right menu">
            <div class="item">
                <?php
                echo $this->tag->linkTo([
                    '',
                    '<i class="icon book"></i>
                     Series list',
                ]
                );
                ?>
            </div>

            <?php
            echo $this->partial('shared/header_session', ['logged_in' => $logged_in]);
            ?>
        </div>
    </div>

    <div class="public-page">
        <?php echo $this->getContent(); ?>
    </div>

    <div class="footer">
        <div class="footer-text">
            <?php
            echo $footerText;
            ?>
        </div>
    </div>
</div>
