<?php
/**
 * @var $series \App\Models\Series
 * @var $chapter \App\Models\Chapter
 */
$height = 0;
$width = 0;

$mustAddEmptyPage = false;
$indexDoublePageOffset = 0;

?>

<div class="ui one column centered grid container">
    <div class="column">
        <div class="ui clearing segment inverted flex middle-content">
            <div class="ui left floated">
                <?php
                //If series change, redirect to public series page
                // If chapter change , redirect to reader chapter
                echo $series->getName();
                echo ' ';
                ?>
                <select name="chapter_selection" id="chapter_selection" class="ui dropdown inverted tiny">
                    <?php
                    foreach ($chapterList as $chapterItem) {
                        /**
                         * @var $chapterItem \App\Models\Chapter
                         */
                        $currentChapterCompleteNumber = ($series->getCustomTitle())?:_('Chapter');
                        $currentChapterCompleteNumber .= ' ' . $chapter->getNumber();
                        if($chapter->getSubNumber()) {
                            $currentChapterCompleteNumber .= '.'.$chapter->getSubNumber();
                        }
                        $chapterItemCompleteNumber = ($series->getCustomTitle())?:_('Chapter');
                        $chapterItemCompleteNumber .= ' ' . $chapterItem->getNumber();
                        if($chapterItem->getSubNumber()) {
                            $chapterItemCompleteNumber .= '.'.$chapterItem->getSubNumber();
                        }

                        echo '<option value="'.$chapterItemCompleteNumber.'" ';

                        if($chapterItemCompleteNumber == $currentChapterCompleteNumber) {
                            echo ' selected ';
                        }

                        echo ' data-number="'.$chapterItem->getNumber().'" ';
                        if($chapterItem->getSubNumber()) {
                            echo ' data-subnumber="'.$chapterItem->getSubNumber().'" ';
                        }

                        echo '>';
                        echo $chapterItemCompleteNumber;
                        echo '</option>';
                    }
                    ?>
                </select>
            </div>

            <div class="ui right floated">

                <select name="page_selection" id="page_selection" class="ui dropdown inverted tiny">
                    <?php
                        foreach ($pages as $page) {
                            /**
                             * @var $page \App\Models\Pages
                             */
                            echo '<option value="'.$page->getPosition().'"';

                            if($currentPage == $page->getPosition()) {
                                echo ' selected ';
                            }
                            echo '>';
                            echo $page->getPosition();
                            echo '</option>';
                        }
                    ?>
                </select>

                <div class="ui dropdown" id="reader_options">
                    <span class="text"><?php echo _('Reader Options') ?></span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-readermode="<?php echo \App\Models\Series::READER_MODE_FLIPBOOK ?>">
                            <i class="left dropdown icon"></i>
                            <span class="text"><?php echo _('Flipbook') ?></span>
                            <div class="left menu">
                                <div class="item clickable" data-readerdirection="<?php echo \App\Models\Series::READ_DIRECTION_LTR ?>"><?php echo _('LTR (Left to Right)') ?></div>
                                <div class="item clickable" data-readerdirection="<?php echo \App\Models\Series::READ_DIRECTION_RTL ?>"><?php echo _('RTL (Right to Left)') ?></div>
                            </div>
                        </div>
                        <div class="item clickable" data-readermode="<?php echo \App\Models\Series::READER_MODE_CLASSIC ?>">
                            <?php echo _('Classic (page per page)') ?>
                        </div>
                        <div class="item clickable" data-readermode="<?php echo \App\Models\Series::READER_MODE_WEBTOON ?>">
                            <?php echo _('Webtoon') ?>
                        </div>
                        <div class="item clickable" data-delete="true">
                            <i class="remove icon"></i>
                            <?php echo _('Delete') ?>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="ui one column centered grid " id="reader_content">
    <?php
    if($readerMode == \App\Models\Series::READER_MODE_FLIPBOOK || $readerMode == \App\Models\Series::READER_MODE_CLASSIC)
    {
        ?>

        <div >
            <div id="flipbook" class="">
                <?php

                foreach ($pages as $index => $page) {
                    echo '<div class="';
                    $imageSize = getimagesize($page->getLocalPath());

                    if($imageSize[0] > $imageSize[1]) {
                        //Page double

                        //if the double page is no well placed
                        if ((($index + $indexDoublePageOffset) % 2) == 0 && !$mustAddEmptyPage) {
                            $mustAddEmptyPage = true;
                        } else
                        {
                            $indexDoublePageOffset ++;
                        }

                        echo 'double';
                    } else {
                        //We don't use double page to search highest width/height (height supposed to be the same for all the pages, btw)
                        //Search for the highest width
                        if($imageSize[0] > $width){
                            $width = $imageSize[0];
                        }
                        //Search for the highest height
                        if($imageSize[1] > $height){
                            $height = $imageSize[1];
                        }
                    }
                    //close the class prop
                    echo '"';

                    echo ' id="'.($index+1).'"';

                    //close the class prop and set img url for lazy loading
                    echo ' data-image="'. $config->application->publicUrl . $page->getUrlPath().'">';
                    ?>

                    <?php
                    echo '</div>';
                }
                ?>
            </div>
        </div>
        <?php
    } elseif ($readerMode == \App\Models\Series::READER_MODE_WEBTOON) {
        ?>
        <div>
            <?php
            foreach ($pages as $page) {
                ?>
                <div>
                    <img src="<?php echo $config->application->publicUrl . $page->getUrlPath() ?>">
                </div>
                <?php
            }
            ?>
        </div>
        <?php
    }
    ?>
</div>
<script>
    $(function () {
        var $flipbook = $("#flipbook");
        var baseUrl = '<?php
            echo $config->application->publicUrl.'/reader/'.$series->getSlug().'/'.$chapter->getNumber();
            if($chapter->getSubNumber())
            {
                echo '/'.$chapter->getSubNumber();
            }
            ?>';

        <?php
        if($readerMode == \App\Models\Series::READER_MODE_FLIPBOOK) {

        if($mustAddEmptyPage){
        ?>
        $flipbook.prepend($('<div/>'));
        <?php
        }

        $useRtl = 0;
        if ($readerDirection == \App\Models\Series::READ_DIRECTION_RTL) {
            $useRtl = 1;
        }

        ?>
        //Load wow book for single and double page display
        $flipbook.wowBook({
            coverWidth  : <?php echo $width; ?>,
            coverHeight : <?php echo $height; ?>,
            pageWidth   : <?php echo $width; ?>,
            pageHeight  : <?php echo $height; ?>,
            rtl: <?php echo $useRtl ?>,
            <?php if($readerMode == \App\Models\Series::READER_MODE_FLIPBOOK) {
            ?>
            scaleToFit: "#reader_content",
            responsiveSinglePage: function( book ){
                // return true (and activate single page mode)
                // if the container width is less than 500
                return $("#reader_content").width() < 480;
            },
            <?php
            } else {
                ?>
            singlePage: true,
            <?php
            }?>
            pagesInMemory : 10,
            turnPageDuration: 500,
            centeredWhenClosed: true,
            bookShadow: false,
            gutterShadow: true,

            startPage: 0,

            onShowPage : function(book, page, pageIndex) {
                $("#page_selection").dropdown('set selected', book.currentPage+ 1);
                $('html, body').animate({
                    scrollTop: $(".public-page").offset().top
                }, 400);
            }

        });
        var $book = $.wowBook("#flipbook");

        $("#page_selection").on('change', function (ev) {
            var page = parseInt($(this).val()) - 1;
            $book.showPage(page, true);
            <?php
            if($readerDirection == \App\Models\Series::READ_DIRECTION_RTL) {
            ?>
            if ($book.pageIsOnTheLeft(page)) {
                $book.showPage(page-1, true);
            } else {
                $book.showPage(page+1, true);
            }
            <?php
            } else {
            ?>
            if ($book.pageIsOnTheLeft(page)) {
                $book.showPage(page+1, true);
            } else {
                $book.showPage(page-1, true);
            }
            <?php
            }
            ?>
        });

        <?php
        }
        elseif ($readerMode == \App\Models\Series::READER_MODE_CLASSIC) {
        ?>

        /**
         * CLASSIC READER
         */
        window.stateChangeIsLocal = true;//keep from trigering statechange;
        var currentPage = <?php echo $currentPage ?>;
        //TODO add this in an app settings ?
        var lazyLoadRange = 3; //will load currentPage-3 to currentPage+3


        var teamUrl = '<?php
            echo $config->application->publicUrl.'/series/'.$series->getSlug();
            ?>';

        $flipbook.addClass('classic-reader');

        function lazyLoadImages()
        {
            $flipbook.find('div').addClass('hide');
            $flipbook.find('div').removeClass('current');
            //load current Page first
            loadImage(currentPage);
            //load others pages
            for (var i=1; i <= lazyLoadRange; i++) {
                //load  next page
                var page = currentPage+i;
                loadImage(page);
                //load previous page
                page = currentPage-i;
                loadImage(page);
            }
        }
        function loadImage(pageNumber)
        {
            var $pageDiv = $("#flipbook").find("#"+pageNumber);
            if($pageDiv.length == 0) {
                return false;
            }
            //if page already load
            if(!$pageDiv.hasClass('loaded')) {
                var pageUrl = $pageDiv.data('image');
                $img = $('<img/>');
                $img.attr('src', pageUrl);

                $pageDiv.append($img);
            }
            //hide all pages except currentPage
            $pageDiv.addClass('loaded');
            $pageDiv.addClass('hide');
            if(pageNumber != currentPage){
                $pageDiv.addClass('hide');
            } else {
                $pageDiv.removeClass('hide');
                $pageDiv.addClass('current');
            }
        }
        //first load
        lazyLoadImages();
        History.replaceState(null, null, baseUrl+'/page/' + currentPage);

        function nextPage()
        {
            //detect of last page
            if(currentPage == $flipbook.find('[data-image]').length) {
                //if last page, nextChapter
                nextChapter();
                return false;
            }

            currentPage = parseInt(currentPage) + 1;
            lazyLoadImages();
            updateUrl();
            updatePageDropdown();

            $('html, body').animate({
                scrollTop: $(".public-page").offset().top
            }, 400);
        }

        function nextChapter()
        {
            window.stateChangeIsLocal = false;
            //location.href
            var currentChap = $("#chapter_selection").val()
            var $currentChapOption = $("#chapter_selection>option[value='"+currentChap+"']");
            if($currentChapOption.next().length > 0) {
                //there is a following chapter
                var $nextChapterElem = $currentChapOption.next();
                changeChapter($nextChapterElem);
            } else {
                //no chapter, go to team page
                location.href = teamUrl;
            }
        }

        function updatePageDropdown(){
            $("#page_selection").dropdown('set selected', currentPage);
        }

        /**
         * Update the URl and browser history
         */
        function updateUrl()
        {
            History.pushState(null, null, baseUrl+'/page/' + currentPage);
        }

        $("#page_selection").on('change', function (ev) {
            currentPage = parseInt($(this).val());
            lazyLoadImages();
            updateUrl();
        });

        $(window).on('statechange',function(){

            if(window.stateChangeIsLocal){
                var State = History.getState();
                if(State.url.includes('/page/')){
                    currentPage = parseInt(State.url.substr(State.url.lastIndexOf('/')+1));
                } else {
                    currentPage = 0;
                }
                if(isNaN(currentPage) || typeof currentPage == 'undefined') {
                    currentPage = 1;
                }

                if(currentPage > 0) {
                    lazyLoadImages();
                    updateUrl();
                }
            }
        });

        $flipbook.on('click', 'img', function(){
            nextPage();
        });

        <?php
        }
        ?>

        $('#reader_content').css({visibility: 'visible'});



        function changeChapter($chapterElement)
        {
            var nextChapterUrl = '<?php
                echo $config->application->publicUrl.'/reader/'.$series->getSlug().'/';
                ?>';
            nextChapterUrl += $chapterElement.data('number');
            if($chapterElement.data('subnumber')){
                nextChapterUrl += '/' + $chapterElement.data('subnumber');
            }
            location.href = nextChapterUrl;
        }

        $("#chapter_selection").on('change', function () {
            var chapValue = $(this).val()
            var $selectedOption = $("#chapter_selection>option[value='"+chapValue+"']");
            changeChapter($selectedOption)
        });


        $("#reader_options").find('.clickable').on('click', function (event) {
            event.preventDefault();

            var data = {};

            if($(this).data('delete')) {
                data.deleteCookies = true;
            } else {
                var readerMode = $(this).data('readermode');
                if(!readerMode){
                    //flipbook selection
                    data.READER_DIRECTION = $(this).data('readerdirection');
                    readerMode = $(this).closest('[data-readermode]').data('readermode');
                }
                data.READER_MODE = readerMode;
            }
            console.log(data)
            $.post({
                url: '<?php echo $config->application->publicUrl . '/reader/cookies' ?>',
                data: data
            }).done(function (data) {
                if(data.success){
                    location.href = baseUrl;
                }
            });
        });
    });
</script>